:root {
  --green: #538d66;
  --white: #ffffff;
  --blue: #223243;
}

.topnav {
  background-color: white; /* Inherit background color from header */
}

.topnav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.topnav li {
  height: 50px;
}
.topnav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--green);
  transition: 0.3s;
}
.topnav a:hover {
  color: var(--blue);
}

.topnav li:first-child {
  margin-right: auto;
}

@media (max-width: 800px) {
  .topnav {
    display: none;
  }
}
