:root {
  --green: #538d66;
  --white: #ffffff;
  --blue: #223243;
}

.header {
  display: flex; /* Allow elements to sit side-by-side */
  align-items: center; /* Vertically center content */
  height: 50px; /* Set the height of the header */
  width: 95%;
  justify-content: end;
}

.topnav {
  background-color: inherit; /* Inherit background color from header */
  display: flex;
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  /* Remove default margin */
}

.topnav a {
  text-align: center;
  padding: 16px;
  text-decoration: none;
  color: var(--green);
  transition: 0.3s;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: var(--blue);
}
